body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fffc05;
    color: blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    padding: 20px; 
    margin: 0;
    box-sizing: border-box;
    text-align: center; 
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 15px 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}